@media (max-width: 1000px){
    main{
        margin: 0 20px;
    }
    body{
        font-size: 90%;
    }
    form{
        width: 380px;
    }
    .instructions{
        margin-top: 20px;
        width: 60%;
    }
    .instructions > h2:first-child{
        text-align: center;
        border-left: none;
        border-bottom: 2px solid var(--lilas);
    }

}
@media (max-width: 670px){

    .situacao-imc{
        font-size: 90%;
        width: 500px;
    }

}
@media (max-width: 630px){
    #first-hr{
        display: none;
    }
    main #titulo-princip{
        padding-bottom: 0;
    }
    .toggle-text{
        opacity: 1;
    }
    .imagens.active{
        display: none;
    }
    .instructions.active{
        display: block;
        order: -1;
    }
    img{
        height: 230px;
    }
    img#img2{
        right: 60px;
    }
    form{
        width: 400px;
    }
    .instructions{
        display: none;
        margin-bottom: 20px;
        width: 80%;

    } 
    .situacao-imc{
        width: 400px;
        font-size: 80%;
    }
    input#btn-fechar{
        padding: 5px 10px;
    }
}
@media(max-width: 480px){
    #titulo-princip{
        font-size: 90%;
    }
    hr{
        margin-bottom: 10px;
    }
    img{
        height: 200px;
    }
    img#img2{
        right: 50px;
    }
    form{
        width: 300px;
    }
    .instructions{
        line-height: 1.6em;
        margin-bottom: 15px;

    }
    .situacao-imc{
        width: 350px;
        font-size: 65%;
    }
    input#btn-fechar{
        padding: 0;
    }
}
@media(max-width: 400px){
    .situacao-imc{
        width: 300px;
    }
}
@media(max-width: 340px){
    .situacao-imc{
        width: 250px;
        font-size: 55%;
    }
    form{
        width: 250px;
    }
}